body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

#simulation__canvas {
    background-color: lightgrey;
}

#network__canvas {
    background-color: black;
}